.img-edit-agenda {
    width: 6rem;
}
.agenda-titulo{
    font-family: 'Righteous', cursive;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin: 0;
}
.agenda-titulo-criar{
    font-family: 'Righteous', cursive;
    text-align: center;
    padding-top: 0.5rem;
    margin: 0;
}

.container-edit-la{
    margin-left: 11rem ;
    margin-top: 0;
}
@media(max-width:768px){
    .container-edit-la{
        margin-left: 5rem ;
    }
}

.jumbotron-edit-ag{
    padding-top: 5px;
    padding-right: 5px;
    height: 98%;
    text-align: center;
    background-color: #f8f1f1;;
    border: rgb(0, 0, 0) solid 1px;
}
.p-edit-ag{
    font-family: 'Concert One', cursive;
    color: #272727;
    
}
.h1-edit-ag{
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    text-shadow: 1.2px 1.2px 1.2px #000000 ;
}

.bottom-edit-ag{
    padding-bottom:1rem !important; 
    padding-left:2rem !important; 
    padding-right:2rem !important; 
    font-family: 'Concert One', cursive;
    background-color: #323031;
    border: #323031 solid 2px;
}
.bottom-edit-ag:hover{
    background-color: #48a23c;
    color: black;
    border: #323031 solid 2px;
}
.edit-icon-ag{
    height: 2rem;
}
.remove-icon-ag{
    height: 1.9rem;
}
.pos-icon-ag{
    text-align: right;
    padding-bottom: 2rem ;
}
.internal-jumb-conteiner-edit{
    padding-right: 1rem;
}

.div-excluir-edit{
    text-align: center;
}