.excluir-conteiner-edit-agenda{
    text-align: center;
    padding-left: 25%;
    width: 88%;
    padding-top: 15%;
}
.p-edit-excluir-ag{
    color: black;
    font-size: 2rem;
    padding-bottom: 2rem;
}
.button-edit-excluir-ag{
    display: inline;
    padding-bottom:1rem !important; 
    padding-left:1rem !important; 
    padding-right:1rem !important; 
    margin-left: 1px;
    margin-right: 2px;
    font-family: 'Concert One', cursive;
    background-color: #323031;
    border: #323031 solid 2px !important;
}
.button-edit-excluir-ag:hover{
    background-color: #48a23c;
    color: black;
}
