.desenvolv{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3rem !important;
    font-family: 'Concert One', cursive;
    text-align: left;
}
.icones-bit{
    width: 1.5rem;
}

h1{
    padding-top: 10%;
}
.titulo-sobre{
    font-family: 'Concert One', cursive;
}

.primeiro-p{
    margin: 0;
}

.link-sobre:hover{
    text-decoration:none;
}

.div-bem-vindo{
    padding-top: 5rem;
    padding-left: 5rem;
    font-family: 'Concert One', cursive;
    text-align: center;
}