
.input-edit{
    width: 70%;
    display: inline-block !important;
    border-radius: 10px;
    border: 1px solid #323031 !important;
    background-color: #fff !important;
    font-family: 'Signika', sans-serif;
}

.div-input-pesquisar{
    margin-bottom: 15px ;
    padding-left: 27%;
    font-family: 'Signika', sans-serif;
    display: inline-block;
    width: 70%;
}
.input-edit-pesquisar{
    text-align: center;
    border-radius: 10px;
    border: 1px solid #323031 !important;
}
.exit-pesquisar{
    position: relative;
    z-index: 99;
    bottom: 2rem;
    left: 27.8rem;
    width: 1.3rem;
    opacity: 0.6;
}

@media(max-width:991px){
    .exit-pesquisar{
        left: 16.5rem;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .exit-pesquisar{
        left: 23rem;
    }
}
@media(max-width:575px){
    .exit-pesquisar{
        left: 87%;
    }
}
@media(min-width:576px) and (max-width:767px) {
    .exit-pesquisar{
        left: 22rem;
    }
}
@media(max-width:767px){

    .div-input-pesquisar{
        padding-left: 15%;
        width: 90%;
        margin-bottom: 15px ;
    }
}
.img-edit{
    border-radius: 100%;
    width: 6rem;
}

.span-edit{
    display: block;
    font-family: 'Concert One', cursive;
    color: #e02424;
}

.input-edit-error{
    border: 1.6px solid #af2323 !important;   
}

.input-edit-error:focus{
    border: 1.6px solid #af2323 !important;
}

.txt-bem-vindo{
    padding-left: 25%;
}

.conteiner-edit{
    text-align: center;
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 0rem;
}
@media(max-width: 370px){
    .conteiner-edit{
        padding-left: 5rem;
    }
}

@media(min-width: 1000px){
    .conteiner-edit{
        padding-left: 12rem;
        padding-right: 6rem;
    }
}

.img-conteiner-edit{
    padding-bottom: 1.5rem;
}

.title-edit{
    padding-top: 40px;
    font-family: 'Acme', sans-serif;
    padding-bottom: 40px;
    font-size: 2.1rem;
}

.button-div-edit{
    padding-bottom: 40px;
}

.button-edit{
    padding-bottom: 1rem;
    font-family: 'Concert One', cursive;
    width: 45%;
    background-color: #323031 !important;
    border-radius: 20px;
    border: 1px solid #323031 !important;
}
.button-edit:hover{ 
    color: black; 
    background-color: #48a23c !important;
}