@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Signika&display=swap');

.li-nav-edit{
    
    font-family: 'Concert One', cursive;
    padding-left: 1.3rem;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    width: 4.3rem;
}

.li-nav-edit:hover{
    border-bottom: black solid 2px;
    border-top: black solid 2px;
    border-right: black solid 1px;
    width: 4.6em;
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px ;
    background-color: #48a23c;    
}

.color-edit{
    border-bottom: black solid 2px;
    border-top: black solid 2px;
    border-right: black solid 1px;
    width: 4.6em;
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px ;
    background-color: #48a23c;
}

.link-ag-edit{
    width: 12rem;
    
}
.img-nav-edit{
    margin-top: 0.3rem;
    height: 4rem;
}

ul{
    position: relative;
    top: 1.5em;
    left: -3.4em;
    list-style-type: none;
}

.img-link-edit{
    position: relative;
    height: 2.2rem;
}

.navbar-edit-deslogado{
    position: fixed;
    top: 6.7rem;
    border-bottom-right-radius: 30px;
    height: 15rem;
    width: 70px;
    z-index: 100;
    background-color: #4e4c4d !important;
}

.navbar-edit{
    position: fixed;
    top: 6.7rem;
    border-bottom-right-radius: 30px;
    height: 22rem;
    width: 70px;
    z-index: 100;
    background-color: #4e4c4d !important;
}
.my-node-enter {
    opacity: 0;
    transition: opacity 300ms;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.my-node-exit {
    opacity: 0;
    transition: opacity 300ms

}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 300ms;
 
}
.my-node-exit-done{
    display: none;  
}
.my-node-enter-done{
    display: block;
}

.link-img-ag{
    position: fixed;
    z-index: 99;
    background-color: #4e4c4d;
    left: -1.4rem; 
    border-bottom-right-radius: 80px ;  
    
}
.img-nav-edit-idx{
    margin-top: 10px;
    margin-left: 10px;
    height: 5.7rem;
    margin-bottom: 15px;
  }

  .seta-menu-edit{
    height: 1.5rem;
  }

  .div-seta-menu-edit{
    position: fixed;
    top: 6rem;
    left: 0.3rem;
    border-radius: 100%;
    background-color: #4e4c4d;
    z-index: 101;
    border: black solid 1.5px;
    transition: opacity 0.5s ease-out;
    opacity: -1;
  }

  .div-seta-menu-edit:hover{
    opacity: 1;
    background-color: #48a23c;
  }
  .div-jumb-edit{
      padding: 0 !important;
      padding-right: 0.5rem !important;
  }