.p-edit-pg{
    font-family: 'Concert One', cursive;
    color: #272727;
    margin: 0;
    font-size: 1.2rem;  
    margin-bottom: 2rem;
    text-align: left;
}
.ul-edit-ag{
    display: block;
}
.th-edit-ul-ag{
   
    color: black;
}

.table-edit-pg{
    font-family: 'Concert One', cursive;
    display: inline;
}

.td-edit-dir-pg{
    
    color: #851c1c;
}
.td-edit-esq-pg{
    padding-right: 40px;
    color: #00481e;
}

.desc-edit-pg{
    height: 150px;
}

.div-span-central-edit{
    padding-bottom: 2rem;
}